.row {
    margin-top: 40px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: chocolate;
}

.movieData {
    font-size: 14px;
}


.imgMovie img {
    width: 60%;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    display: block;
}
p {
    font-size: 12px;
}

.boxMovieData {
    background-color: rgba(66, 91, 96, 0.1);
    padding: 10px;
    border-radius: 10px;

}
